<div class="main posts-index">
  <div class="container">
<h2>練習時間記録</h2>
<%= column_chart @data %>
      <!-- 以下の投稿を、変数post1を用いて書き換えてください -->
      <% @kiroku.each do |kiroku| %>
      <% %>
      <div class="posts-index-item">
      <%= link_to(kiroku.datetime.month.to_s + "/" + kiroku.datetime.day.to_s , "/kiroku/#{kiroku.id}") %>
      <%= link_to(kiroku.datetime.strftime("%H:%M") , "/kiroku/#{kiroku.id}") %>
      <%= link_to(kiroku.content, "/kiroku/#{kiroku.id}") %>

      <%= link_to(kiroku.time.strftime("%H:%M"), "/kiroku/#{kiroku.id}") %>
    </div>

<% end %>
    </div>
  </div>
