<!DOCTYPE html>
<html>
  <head>
    <title>PianoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <% if @current_user %>
        <div class="header-logo">
          <%= link_to("PianoApp", "/main") %>
        </div>
        <ul class="header-menus">
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("投稿一覧", "/posts/index") %>
          </li>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
        </ul>
        <span class="fa fa-bars" id="header-signin"></span>
      <% else %>
        <div class="header-logo header-signout">
          <%= link_to("PianoApp", "/") %>
        </div>
        <ul class="header-menus header-signout">
          <li>
            <%= link_to("PianoAppとは", "/about") %>
          </li>
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        </ul>
        <span class="fa fa-bars" id="header-signout"></span>
      <% end %>
    </header>
    <!-- header-backgroundをheaderの子要素にすると、
        z-indexがローカルになるためtopページで支障が出る -->
    <div class="header-background"></div>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
