<!DOCTYPE html>
<html>
  <head>
    <title>PianoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="/testtop">PianoApp</a>
      </div>
      <ul class="header-menus">
        <li><a href="/about">PianoAppとは</a></li>
        <li><a href="/signup">新規登録</a></li>
      </ul>
    </header>
    <!-- 以下をheaderの子要素にするとz-indexがローカルになる -->
    <div class="header-background"></div>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
