<!DOCTYPE html>
<html>
  <head>
    <title>PianoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <a class="header-logo" href="/testtop">PianoApp</a>
      <ul class="header-menus">
        <li><a href="/about">PianoAppとは</a></li>
        <li><a href="/signup">新規登録</a></li>
      </ul>
    </header>
    <!-- header-backgroundをheaderの子要素にすると、
        z-indexがローカルになるためtopページで支障が出る-->
    <div class="header-background"></div>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
